@model Nop.Plugin.Widgets.AD.Models.PublicInfoModel
@{
    Layout = "";
}
@using System
@using Nop.Web.Framework.UI

@helper RenderLine(string pictureUrl, string text, string link,string dataTransition = "")
{
    if (!string.IsNullOrEmpty(pictureUrl.Trim()))
    {      
    <div class="goodlist-showcase">
        @if (!string.IsNullOrEmpty(link))
        {
            <a href="@link" target="_blank">
                <img src="@pictureUrl"  alt="" title="@text" />
            </a>
        }
        else
        {
            <img src="@pictureUrl"  alt="" title="@text" />
        }

    </div>
    }
}

        @RenderLine(Model.Picture1Url, Model.Text1, Model.Link1)
        @RenderLine(Model.Picture2Url, Model.Text2, Model.Link2)

