@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoIndexRightModel
@{
    Layout = "";

}
@using System
@using Nop.Web.Framework.UI

<div class="home-cc-div"><a href="@Model.Link1">
    <img alt="@Model.Text1" src="@Model.Picture1Url" />
</a></div>
<div class="home-new"><a href="@Model.Link2">
    <img alt="@Model.Text2" src="@Model.Picture2Url" />
</a></div>
<div class="home-cc-div2"><a href="@Model.Link3">
    <img alt="@Model.Text3" src="@Model.Picture3Url" />
</a></div>