@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoLikeModel
@{
    Layout = "";

}
@using System
@using Nop.Web.Framework.UI

<div class="home-new-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">大家都喜欢</h3>
        </div>
        <div class="box-bd">
            <div class="row">
                <div class="brick-item brick-item-2">
                    <div class="item2">
                        <div class="item-content">
                            <a href="@Model.Link1" target="_blank">
                                <img src="@Model.Picture1Url" alt="@Model.Text1" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="brick-item brick-item-level">
                    <div class="item">
                        <div class="level item-content-m">
                            <a href="@Model.Link2" target="_blank">
                                <img src="@Model.Picture2Url" alt="@Model.Text2" />
                            </a>
                        </div>
                    </div>
                    <div class="brick-item brick-item-last">
                        <div class="item2">
                            <div class="item-content-m"><a href="@Model.Link3" target="_blank">
    <img src="@Model.Picture3Url" alt="@Model.Text3" />
</a></div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-last">
                        <div class="item2">
                            <div class="item-content-m"><a href="@Model.Link4" target="_blank">
    <img src="@Model.Picture4Url" alt="@Model.Text4" />
</a></div>
                        </div>
                    </div>
                </div>
                <div class="brick-item brick-item-2">
                    <div class="brick-item brick-item-m">
                        <div class="item">
                            <div class="item-content-m"><a href="@Model.Link5" target="_blank">
    <img src="@Model.Picture5Url" alt="@Model.Text5" />
</a></div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item3">
                            <div class="item-content-m"><a href="@Model.Link6" target="_blank">
    <img src="@Model.Picture6Url" alt="@Model.Text6" />
</a></div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item2">
                            <div class="item-content-m"><a href="@Model.Link7" target="_blank">
    <img src="@Model.Picture7Url" alt="@Model.Text7" />
</a></div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item-content-m"><a href="@Model.Link8" target="_blank">
    <img src="@Model.Picture8Url" alt="@Model.Text8" />
</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
