@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";
    Html.AppendCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    Html.AppendScriptParts("~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
}
@using System
@using Nop.Web.Framework.UI

@helper RenderSliderLine(string pictureUrl, string text, string link, string dataTransition = "")
{
    if (!string.IsNullOrEmpty(pictureUrl))
    {    
        <div class="slide">
             @if (!string.IsNullOrEmpty(link))
             {
            <a href="@link" target="_blank">
                <img src="@pictureUrl" data-src-r="@pictureUrl" data-src-r-2x="@pictureUrl" srcset="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
            </a>
             }
             else
             {
            <img src="@pictureUrl" data-src-r="@pictureUrl" data-src-r-2x="@pictureUrl" srcset="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
             }
        
        </div>

    }

}
<div id="J_homeSlider" class="xm-slider">
    @RenderSliderLine(Model.Picture1Url, Model.Text1, Model.Link1)
    @RenderSliderLine(Model.Picture2Url, Model.Text2, Model.Link2)
    @RenderSliderLine(Model.Picture3Url, Model.Text3, Model.Link3, "slideInLeft")
    @RenderSliderLine(Model.Picture4Url, Model.Text4, Model.Link4)
    @RenderSliderLine(Model.Picture5Url, Model.Text5, Model.Link5)
</div>
<script type="text/javascript">
    $(window).load(function () {
        $('#J_homeSlider').nivoSlider({
            effect: 'fold',               // Specify sets like: 'fold,fade,sliceDown'
            slices: 15,                     // For slice animations
            boxCols: 8,                     // For box animations
            boxRows: 4,                     // For box animations
            animSpeed: 500,                 // Slide transition speed
            pauseTime: 3000,                // How long each slide will show
            startSlide: 0,                  // Set starting Slide (0 index)
            directionNav: false,             // Next & Prev navigation
            controlNav: false,               // 1,2,3... navigation
            controlNavThumbs: true,        // Use thumbnails for Control Nav
            pauseOnHover: true,             // Stop animation while hovering
            manualAdvance: false,           // Force manual transitions
            prevText: 'Prev',               // Prev directionNav text
            nextText: 'Next',               // Next directionNav text
            randomStart: false,             // Start on a random slide
            beforeChange: function () { },     // Triggers before a slide transition
            afterChange: function () { },      // Triggers after a slide transition
            slideshowEnd: function () { },     // Triggers after all slides have been shown
            lastSlide: function () { },        // Triggers when last slide is shown
            afterLoad: function () { }         // Triggers when slider has loaded
        });
    });
</script>