@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<div class="col col10 goods-info-rightbox">
    @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
    {
        <div class="overview">
            <div class="product-name">
                <h1 class="googds-info-name">
                    @Model.Name
                </h1>
            </div>
            @{
        var dataDictPrice = new ViewDataDictionary();
        dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
        @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
            }
            <!--attributes-->
            @{
        var dataDictAttributes = new ViewDataDictionary();
        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
        @Html.Partial("_ProductAttributes", Model.ProductVariantAttributes, dataDictAttributes)
            }
            @Html.TextBoxFor(model => model.AddToCart.EnteredQuantity, new { @class = "addnum-input",style="display:none;" })
            <!--price & add to cart-->
            <a id="add-to-cart-button-@Model.Id" href="javascript:void(0);" class="btn-primary add-cart" data-productid="@Model.Id" onclick="AjaxCart.addproducttopackage_details('@Url.RouteUrl("AddProductToPackage-Details", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Package })', '#product-details-form');return false;">
                <i class="iconfont icon-margin">&#xf0175;</i>加入套餐
            </a>
        </div>
    }
</div>

