@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsList.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;

@*category breadcrumb*@
@if (false && Model.DisplayCategoryBreadcrumb)
{
    <div class="breadcrumb">
        <ul>
            <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@breadcrumbDelimiter</span> </li>
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
                <li>
                    @if (isLastCategory)
                    {
                        <strong class="current-item">@cat.Name</strong>
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    }
                </li>
            }
        </ul>
    </div>
    @Html.Widget("categorydetails_after_breadcrumb")
}

@section CategorySelector
{
<div class="box-hd">
    <h3 class="title">商品筛选</h3>
</div>
<div class="box-bd">
    <div class="filter-lists">
        <dl class="xm-filter-list xm-filter-list-first category-filter-list clearfix">
            <dt>款式：</dt>
            <dd>
                <ul id="typeCat" class="clearfix">
                    <li class="first "><a href="http://www.mi.com/accessories/1">观音</a></li>
                    <li><a href="http://www.mi.com/accessories/2">玉佛</a></li>
                    <li><a href="http://www.mi.com/accessories/3">如意</a></li>
                    <li><a href="http://www.mi.com/accessories/4">节节高</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="xm-filter-list  category-filter-list clearfix">
            <dt>种地：</dt>
            <dd>
                <ul id="typeAdapt" class="clearfix">
                    <li class="first"><a href="http://www.mi.com/accessories/2">满绿</a></li>
                    <li><a href="http://www.mi.com/accessories/2-16" rel="nofollow">多彩</a></li>
                    <li><a href="http://www.mi.com/accessories/2-32" rel="nofollow">水种</a></li>
                    <li><a href="http://www.mi.com/accessories/2-64" rel="nofollow">翠色</a></li>
                </ul>
            </dd>
        </dl>
        <dl class="xm-filter-list  category-filter-list clearfix">
            <dt class="condition-title">已选条件：</dt>
            <dd>
                <ul class="clearfix">
                    <li class="condition">
                        <a href="http://www.mi.com/accessories/2">满绿</a>
                        <i class="iconfont">&#xf00b3;</i>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
}

<div class="box-hd">
    <div class="filter-lists">
        <dl class="xm-filter-list xm-filter-list-first category-filter-list clearfix">
            <dd>
                <ul id="typeOrder" class="clearfix">
                    <li class="current first"><a href="http://www.mi.com/accessories/2-0-0-0-1-0" rel="nofollow">推荐</a></li>
                    <li><a href="http://www.mi.com/accessories/2-0-1-0-1-0" rel="nofollow">最新</a></li>
                    <li><a href="http://www.mi.com/accessories/2-0-10-0-1-0" rel="nofollow">价格从高到低</a></li>
                    <li><a href="http://www.mi.com/accessories/2-0-8-0-1-0" rel="nofollow">价格从低到高</a></li>
                    <li><a href="http://www.mi.com/accessories/2-0-3-0-1-0" rel="nofollow">关注度</a></li>
                </ul>
            </dd>
        </dl>

    </div>
    <div class="more">
        <div class="filter-stock">
            <a href="http://www.mi.com/accessories/2-0-0-0-1-1"><i class="icon-check iconfont ">&#xe626;</i>仅显示特惠商品</a>&nbsp;&nbsp;
            <a href="http://www.mi.com/accessories/2-0-0-1-1-0"><i class="icon-check iconfont ">&#xe626;</i>仅显示有货商品</a>
        </div>
    </div>
</div>
<div class="xm-goods-list-wrap">

    <ul class="xm-goods-list clearfix">
        @foreach (var product in Model.Products)
        {
        <li class="item-box">
            @Html.Partial("_ProductBox", product)
        </li>
        }
    </ul>
</div>
<div class="xm-pagenavi">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
</div>

