@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("精品典藏——瑞翠华光官网");

    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;

@*category breadcrumb*@
@if (false && Model.DisplayCategoryBreadcrumb)
{
    <div class="breadcrumb">
        <ul>
            <li>
                <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                <span class="delimiter">@breadcrumbDelimiter</span>
            </li>
            @foreach (var cat in Model.CategoryBreadcrumb)
            {
                var isLastCategory = cat.Id == Model.Id;
                <li>
                    @if (isLastCategory)
                    {
                        <strong class="current-item">@cat.Name</strong>
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("TuiJianProduct", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    }
                </li>
            }
        </ul>
    </div>
    @Html.Widget("categorydetails_after_breadcrumb")
}

<div class="container">
    <div class="row vip-margin">
        <div class="box-hd">
            <dl class="xm-filter-list xm-filter-list-first category-filter-list clearfix">
                <dd class="float-left">
                    <ul id="typeOrder" class="clearfix">
                        @if (Model.PagingFilteringContext.AvailableSortOptions.Count > 0)
                        {
                            var first = 0;
                            var firstCss = " first";
                            foreach (var item in Model.PagingFilteringContext.AvailableSortOptions)
                            {
                                if (first++ > 0)
                                {
                                    firstCss = "";
                                }

                                if (item.Value.Contains("orderby=15"))
                                {
                                    <li class='@((item.Selected ? "current" : "") + firstCss)'>
                                        <a href="@item.Value" rel="nofollow">最新</a>
                                    </li>
                                }
                                else if (item.Value.Contains("orderby=11"))
                                {
                                    <li class='@((item.Selected ? "current" : "") + firstCss)'>
                                        <a href="@item.Value" rel="nofollow">价格从高到低</a>
                                    </li>
                                }
                                else if (item.Value.Contains("orderby=10"))
                                {
                                    <li class='@((item.Selected ? "current" : "") + firstCss)'>
                                        <a href="@item.Value" rel="nofollow">价格从低到高</a>
                                    </li>
                                }


                            }
                        }
                    </ul>
                </dd>
                <dd class="float-left">
                    <div class="fPrice">
                        @Html.Partial("_FilterJingPingBox", Model.PagingFilteringContext)

                    </div>
                </dd>
            </dl>
        </div>
        <!--商品列表-->
        <div class="xm-goods-list-wrap">

            <ul class="xm-goods-list clearfix">
                @foreach (var product in Model.Products)
                {
                    <li class="item-box" style="width:254px;">
                        @Html.Partial("_ProductTuiJianBox", product)
                    </li>
                }
            </ul>
        </div>

        <!--商品列表 END-->

    </div>

</div>



<!-- .site-header END -->

<div class="site-footer">
    <div class="container">
        <div class="footer-service">
            <ul class="list-service clearfix">
                <li>
                    <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("超值") })" target="_blank">
                        <i class="iconfont">&#xf02b5;</i>
                        <strong>拒绝暴利</strong>
                        <span>全新模式，最优价格</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("正品") })" target="_blank">
                        <i class="iconfont">&#xf02b9;</i>
                        <strong>放心选购</strong>
                        <span>权威鉴定，品质保证</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("包邮") })" target="_blank">
                        <i class="iconfont">&#xf0297;</i>
                        <strong>安心期待</strong>
                        <span>顺丰保价，安全快捷</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("保障") })" target="_blank">
                        <i class="iconfont">&#xf02b8;</i>
                        <strong>舒心拥有</strong>
                        <span>七天鉴赏，自由退换</span>
                    </a>
                </li>
            </ul>
        </div>
        @Html.Action("Footer", "Common")
    </div>
</div>
<!-- .site-footer END -->
