@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@helper ScoreToStar(int score)
{
    string css = "icon-stat-";
    int star = score / 20;
    if (star > 0)
    {
        css += star.ToString();
    }
    if (star * 20 + 10 < score)
    {
        css += "half";
    }
    <text>@Html.Raw(css)</text>
}
@if (Model.Count > 0)
{
    <div class="box-hd"> <div class="title"> 买过的人还买了 </div> </div>
    <div class="box-bd">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" target="_blank">
                        <h2>@item.Name</h2>
                        <h2>@item.ProductPrice.Price</h2>
                        <div class="star"> <span class="icon-stat @ScoreToStar(item.Score)"></span> </div>
                        <img class="leftImg" alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" srcset="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                    </a>
                </li>
            }

        </ul>
    </div>
}