@using Nop.Services.Security
@model DashboardModel
@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
}
<table class="dashboard">
    @Html.Widget("admin_dashboard_top")
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt="" />
                    @T("Admin.Dashboard.StoreStatistics")
                </div>
                <div class="options">
                    <a href="#" id="listshow" class="btn btn-sm btn-primary btn-flat ">列表统计模式</a>
                    <a href="#" id="chartshow" class="btn btn-sm btn-primary btn-flat ">图表统计模式</a>
                </div>
            </div>
            <div id="list" style="display:none">
                @if (!Model.IsLoggedInAsVendor && canManageOrders)
                {
                    <table class="stats">
                        <tbody>
                            <tr>
                                <td class="orderaveragereport">
                                    <div class="statisticsTitle">
                                        @T("Admin.SalesReport.Average")
                                    </div>
                                    @Html.Action("OrderAverageReport", "Order")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (!Model.IsLoggedInAsVendor)
                {
                    if (canManageOrders || canManageCustomers || canManageProducts)
                    {
                        <table class="stats">
                            <tbody>
                                <tr>
                                    @if (canManageOrders)
                                    {
                                        <td class="orderstatistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.SalesReport.Incomplete")
                                            </div>
                                            @Html.Action("OrderIncompleteReport", "Order")
                                        </td>
                                    }
                                    @if (canManageCustomers)
                                    {
                                        <td class="customerstatistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.Customers.Reports.RegisteredCustomers")
                                            </div>
                                            @Html.Action("ReportRegisteredCustomers", "Customer")
                                        </td>
                                    }
                                    @if (canManageProducts)
                                    {
                                        <td class="search-term-statistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.SearchTermReport")
                                            </div>
                                            @Html.Action("PopularSearchTermsReport", "Common")
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                @if (canManageOrders)
                {
                    <table class="stats">
                        <tr>
                            <td class="bestsellers">
                                <div class="statisticsTitle">
                                    @T("Admin.SalesReport.BestSellers.ByQuantity")
                                </div>
                                @Html.Action("BestsellersBriefReportByQuantity", "Order")
                            </td>
                            <td class="bestsellers">
                                <div class="statisticsTitle">
                                    @T("Admin.SalesReport.BestSellers.ByAmount")
                                </div>
                                @Html.Action("BestsellersBriefReportByAmount", "Order")
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div id="chart">
                <div class="order-div">
                    <div id="OrderTotal" class="col-sm-12 OrderTotal"></div>
                    <div class="custom-date ">
                        <div class="form-horizontal">
                            <label class="control-label col-sm-3 lable-sm padding_rightnull">时间：</label>
                            <div class="input-group col-sm-9 padding_leftnull">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input id="reservation" class="form-control input-sm pull-right ng-pristine ng-valid" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="UnfinishedOrdersChartAmount" class="col-sm-12 OrderTotal"></div>
                <div id="UnfinishedOrdersChartNumber" class="col-sm-12 OrderTotal"></div>

            </div>
        </td>
    </tr>
    @Html.Widget("admin_dashboard_bottom")
</table>
<script type="text/javascript">
    // Step:3 echarts & zrender as a Global Interface by the echarts-plain.js.
    // Step:3 echarts和zrender被echarts-plain.js写入为全局接口

    $(document).ready(function () {
        function GetOrderAverageReportListByChart(type, startTime, EndTime) {
            $.post("@Html.Raw(Url.Action("OrderAverageReportListByChart", "Order"))", { type: type, startTime: startTime, endTime: EndTime }, function (data, status) {
                if (status = "success") {
                    var PendingOrderBindData = [];
                    var ProcessingOrderBindData = [];
                    var CompleteOrderBindData = [];
                    var CancelledOrderBindData = [];
                    for (var i = 0; i < data.TotalX.length; i++) {
                        PendingOrderBindData.push(data.PendingOrderList[i].SumOrders);
                        ProcessingOrderBindData.push(data.ProcessingOrderList[i].SumOrders);
                        CompleteOrderBindData.push(data.CompleteOrderList[i].SumOrders);
                        CancelledOrderBindData.push(data.CancelledOrderList[i].SumOrders);
                    }
                    OrderTotalChart.setOption({
                        title: {
                            text: '订单汇总',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['待处理', '处理中', '已完成', '已取消'],
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                //magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: data.TotalX
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '待处理',
                                type: 'line',
                                stack: '总量',
                                data: PendingOrderBindData
                            },
                            {
                                name: '处理中',
                                type: 'line',
                                stack: '总量',
                                data: ProcessingOrderBindData
                            },
                            {
                                name: '已完成',
                                type: 'line',
                                stack: '总量',
                                data: CompleteOrderBindData
                            },
                            {
                                name: '已取消',
                                type: 'line',
                                stack: '总量',
                                data: CancelledOrderBindData
                            }
                        ]
                    });
                }
            })
        };
        $("#reservation").val('');
        $('#reservation').daterangepicker({
            showDropdowns: true,
            format: 'YYYY/MM/DD',
            ranges: {
                '今天/昨天': [moment().subtract('days', 1), moment()],
                '最近7天': [moment().subtract('days', 6), moment()],
                '最近30天': [moment().subtract('days', 29), moment()]
            },
            startDate: moment().subtract('days', 1),
            endDate: moment()
        },
           function (start, end) {
               startTime1 = start / 1000;
               endTime1 = end / 1000;
               console.log(startTime1);
               console.log(endTime1);
               var Difference = endTime1 - startTime1;
               if (Difference / 86400 > 30) {
                   alert("查询时间间隔不能大于30天以上");
               } else {
                   OrderTotalChart.clear();
                   GetOrderAverageReportListByChart("defineTime", startTime1, endTime1);
               }
           });
        var OrderTotalChart = echarts.init(document.getElementById('OrderTotal'));
        GetOrderAverageReportListByChart("week");
        var UnfinishedOrdersChartAmount = echarts.init(document.getElementById('UnfinishedOrdersChartAmount'));
        var UnfinishedOrdersChartNumber = echarts.init(document.getElementById('UnfinishedOrdersChartNumber'));
        $.post("@Html.Raw(Url.Action("OrderIncompleteReportListByChart", "Order"))", {}, function (data, status) {
            if (status = "success") {
                var Datas = data.Data;
                UnfinishedOrdersChartAmount.setOption({
                    title: {
                        text: '未完成的订单总额环比',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['未支付的订单总额(待付款的订单)', '未发货的订单总额', '未完成的订单总额(待处理的订单)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '条件来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [
                                { value: Datas[0].Total, name: '未支付的订单总额(待付款的订单)' },
                                { value: Datas[1].Total, name: '未发货的订单总额' },
                                { value: Datas[2].Total, name: '未完成的订单总额(待处理的订单)' }
                            ]
                        }
                    ]
                });
                UnfinishedOrdersChartNumber.setOption({
                    title: {
                        text: '未完成的订单总数环比',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['未支付的订单总数(待付款的订单)', '未发货的订单总数', '未完成的订单总数(待处理的订单)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '条件来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [
                                { value: Datas[0].Count, name: '未支付的订单总数(待付款的订单)' },
                                { value: Datas[1].Count, name: '未发货的订单总数' },
                                { value: Datas[2].Count, name: '未完成的订单总数(待处理的订单)' }
                            ]
                        }
                    ]
                });
            }
        });

        // --- 地图 ---
      
        $.post("@Html.Raw(Url.Action("GetOrderReportListByAddress", "Financial"))", {}, function (data, status) {
            if (status = "success") {

                var myChart2 = echarts.init(document.getElementById('mainMap'));
                myChart2.setOption({
                   
                    backgroundColor: '#1b1b1b',
                    color: ['gold', 'aqua', 'lime'],
                    title: {
                        text: '购买地域图',
                        subtext: '',
                        x: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (v) {
                            return v[1].replace(':', ' > ') + "\r\n" + "订单总额：" + v[3];
                        }
                    },
                    //legend: {
                    //    orient: 'vertical',
                    //    x: 'left',
                    //    data: ['北京 Top10'],
                    //    selectedMode: 'single',
                    //    selected: {
                    //        '上海 Top10': false,
                    //        '广州 Top10': false
                    //    },
                    //    textStyle: {
                    //        color: '#fff'
                    //    }
                    //},
               
                    dataRange: {
                        min: 0,
                        max: data.max.value,
                        calculable: true,
                        color: ['#ff3333', 'orange', 'yellow', 'lime', 'aqua'],
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    series: [
                        {
                            name: '全国',
                            type: 'map',
                            roam: false,
                            hoverable: false,
                            mapType: 'china',
                            itemStyle: {
                                normal: {
                                    borderColor: 'rgba(100,149,237,1)',
                                    borderWidth: 0.5,
                                    areaStyle: {
                                        color: '#1b1b1b'
                                    }
                                }
                            },
                            data: [],
                            markLine: {
                                smooth: true,
                                symbol: ['none', 'circle'],
                                symbolSize: 1,
                                itemStyle: {
                                    normal: {
                                        color: '#fff',
                                        borderWidth: 1,
                                        borderColor: 'rgba(30,144,255,0.5)'
                                    }
                                },
                                data: [
                                ],
                            },
                            geoCoord: {
                                '上海': [121.4648, 31.2891],
                                '新疆': [87.9236, 43.5883],
                                '甘肃': [103.5901, 36.3043],
                                '北京': [116.4551, 40.2539],
                                '江苏': [118.8062, 31.9208],
                                '广西': [108.479, 23.1152],
                                '福建': [118.1689, 24.6478],
                                '安徽': [117.29, 32.0581],
                                '内蒙古': [111.4124, 40.4901],
                                '黑龙江': [127.9688, 45.368],
                                '天津': [117.4219, 39.4189],
                                '山西': [112.3352, 37.9413],
                                '广东': [113.5107, 23.2196],
                                '四川': [103.9526, 30.7617],
                                '西藏': [91.1865, 30.1465],
                                '云南': [102.9199, 25.4663],
                                '浙江': [119.5313, 29.8773],
                                '湖北': [114.3896, 30.6628],
                                '辽宁': [123.1238, 42.1216],
                                '海南': [110.3893, 19.8516],
                                '深圳': [114.5435, 22.5439],
                                '河北': [114.4995, 38.1006],
                                '宁夏': [101.4038, 36.8207],
                                '陕西': [109.1162, 34.2004],
                                '贵州': [106.6992, 26.7682],
                                '河南': [113.4668, 34.6234],
                                '重庆': [107.7539, 30.1904],
                                '吉林': [125.8154, 44.2584],
                                '湖南': [113.0823, 28.2568],
                                '山东': [120.4651, 36.3373]
                            }
                        },
                        {
                            name: '',
                            type: 'map',
                            mapType: 'china',
                            data: [],
                            markLine: {
                                smooth: true,
                                effect: {
                                    show: true,
                                    scaleSize: 1,
                                    period: 30,
                                    color: '#fff',
                                    shadowBlur: 10
                                },
                                itemStyle: {
                                    normal: {
                                        borderWidth: 1,
                                        lineStyle: {
                                            type: 'solid',
                                            shadowBlur: 10
                                        }
                                    }
                                },
                                data: data.q1
                            },
                            markPoint: {
                                symbol: 'emptyCircle',
                                symbolSize: function (v) {
                                    return 10 + v / 10000
                                },
                                effect: {
                                    show: true,
                                    shadowBlur: 0
                                },
                                itemStyle: {
                                    normal: {
                                        label: { show: false }
                                    }
                                },
                                data: data.q2
                            }
                        }
                        
                    ]
                });

            }
        });
       
        $("#listshow").click(function () {
            $("#list").show();
            $("#chart").hide();
        });
        $("#chartshow").click(function () {
            $("#chart").show(function () {
            });
            $("#list").hide();
        })
    })
</script>
