@using Nop.Services.Security
@model DashboardModel
@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageOrders = permissionService.Authorize(StandardPermissionProvider.ManageOrders);
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
}
<table class="dashboard">
    @Html.Widget("admin_dashboard_top")
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt="" />
                    @T("Admin.Dashboard.StoreStatistics")
                </div>
                <div class="options">
                    <a href="#" id="listshow" class="btn btn-sm btn-primary btn-flat ">列表统计模式</a>
                    <a href="#" id="chartshow" class="btn btn-sm btn-primary btn-flat ">图表统计模式</a>
                </div>
            </div>
            <div id="list" style="display:none">
                @if (!Model.IsLoggedInAsVendor && canManageOrders)
                {
                    <table class="stats">
                        <tbody>
                            <tr>
                                <td class="orderaveragereport">
                                    <div class="statisticsTitle">
                                        @T("Admin.SalesReport.Average")
                                    </div>
                                    @Html.Action("OrderAverageReport", "Order")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (!Model.IsLoggedInAsVendor)
                {
                    if (canManageOrders || canManageCustomers || canManageProducts)
                    {
                        <table class="stats">
                            <tbody>
                                <tr>
                                    @if (canManageOrders)
                                    {
                                        <td class="orderstatistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.SalesReport.Incomplete")
                                            </div>
                                            @Html.Action("OrderIncompleteReport", "Order")
                                        </td>
                                    }
                                    @if (canManageCustomers)
                                    {
                                        <td class="customerstatistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.Customers.Reports.RegisteredCustomers")
                                            </div>
                                            @Html.Action("ReportRegisteredCustomers", "Customer")
                                        </td>
                                    }
                                    @if (canManageProducts)
                                    {
                                        <td class="search-term-statistics">
                                            <div class="statisticsTitle">
                                                @T("Admin.SearchTermReport")
                                            </div>
                                            @Html.Action("PopularSearchTermsReport", "Common")
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                @if (canManageOrders)
                {
                    <table class="stats">
                        <tr>
                            <td class="bestsellers">
                                <div class="statisticsTitle">
                                    @T("Admin.SalesReport.BestSellers.ByQuantity")
                                </div>
                                @Html.Action("BestsellersBriefReportByQuantity", "Order")
                            </td>
                            <td class="bestsellers">
                                <div class="statisticsTitle">
                                    @T("Admin.SalesReport.BestSellers.ByAmount")
                                </div>
                                @Html.Action("BestsellersBriefReportByAmount", "Order")
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div id="chart">
                <div class="order-div">
                    <div id="OrderTotal" class="col-sm-12 OrderTotal"></div>
                    <div class="custom-date ">
                        <div class="form-horizontal">
                            <label class="control-label col-sm-3 lable-sm padding_rightnull">时间：</label>
                            <div class="input-group col-sm-9 padding_leftnull">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input id="reservation" class="form-control input-sm pull-right ng-pristine ng-valid" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="UnfinishedOrdersChartAmount" class="col-sm-12 OrderTotal"></div>
                <div id="UnfinishedOrdersChartNumber" class="col-sm-12 OrderTotal"></div>

            </div>
        </td>
    </tr>
    @Html.Widget("admin_dashboard_bottom")
</table>
<script type="text/javascript">
    // Step:3 echarts & zrender as a Global Interface by the echarts-plain.js.
    // Step:3 echarts和zrender被echarts-plain.js写入为全局接口

    $(document).ready(function () {
        function GetOrderAverageReportListByChart(type, startTime, EndTime) {
            $.post("@Html.Raw(Url.Action("OrderAverageReportListByChart", "Order"))", { type: type, startTime: startTime, endTime: EndTime }, function (data, status) {
                if (status = "success") {
                    var PendingOrderBindData = [];
                    var ProcessingOrderBindData = [];
                    var CompleteOrderBindData = [];
                    var CancelledOrderBindData = [];
                    for (var i = 0; i < data.TotalX.length; i++) {
                        PendingOrderBindData.push(data.PendingOrderList[i].SumOrders);
                        ProcessingOrderBindData.push(data.ProcessingOrderList[i].SumOrders);
                        CompleteOrderBindData.push(data.CompleteOrderList[i].SumOrders);
                        CancelledOrderBindData.push(data.CancelledOrderList[i].SumOrders);
                    }
                    OrderTotalChart.setOption({
                        title: {
                            text: '订单汇总',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['待处理', '处理中', '已完成', '已取消'],
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                //magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: data.TotalX
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '待处理',
                                type: 'line',
                                stack: '总量',
                                data: PendingOrderBindData
                            },
                            {
                                name: '处理中',
                                type: 'line',
                                stack: '总量',
                                data: ProcessingOrderBindData
                            },
                            {
                                name: '已完成',
                                type: 'line',
                                stack: '总量',
                                data: CompleteOrderBindData
                            },
                            {
                                name: '已取消',
                                type: 'line',
                                stack: '总量',
                                data: CancelledOrderBindData
                            }
                        ]
                    });
                }
            })
        };
        $("#reservation").val('');
        $('#reservation').daterangepicker({
            showDropdowns: true,
            format: 'YYYY/MM/DD',
            ranges: {
                '今天/昨天': [moment().subtract('days', 1), moment()],
                '最近7天': [moment().subtract('days', 6), moment()],
                '最近30天': [moment().subtract('days', 29), moment()]
            },
            startDate: moment().subtract('days', 1),
            endDate: moment()
        },
           function (start, end) {
               startTime1 = start / 1000;
               endTime1 = end / 1000;
               OrderTotalChart.clear();
               GetOrderAverageReportListByChart("defineTime", startTime1, endTime1);
           });
        var OrderTotalChart = echarts.init(document.getElementById('OrderTotal'));
        GetOrderAverageReportListByChart("week");
        var UnfinishedOrdersChartAmount = echarts.init(document.getElementById('UnfinishedOrdersChartAmount'));
        var UnfinishedOrdersChartNumber = echarts.init(document.getElementById('UnfinishedOrdersChartNumber'));
        $.post("@Html.Raw(Url.Action("OrderIncompleteReportListByChart", "Order"))", {}, function (data, status) {
            if (status = "success") {
                var Datas = data.Data;
                UnfinishedOrdersChartAmount.setOption({
                    title: {
                        text: '未完成的订单总额环比',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['未支付的订单总额(待付款的订单)', '未发货的订单总额', '未完成的订单总额(待处理的订单)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '条件来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [
                                { value: Datas[0].Total, name: '未支付的订单总额(待付款的订单)' },
                                { value: Datas[1].Total, name: '未发货的订单总额' },
                                { value: Datas[2].Total, name: '未完成的订单总额(待处理的订单)' }
                            ]
                        }
                    ]
                });
                UnfinishedOrdersChartNumber.setOption({
                    title: {
                        text: '未完成的订单总数环比',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['未支付的订单总数(待付款的订单)', '未发货的订单总数', '未完成的订单总数(待处理的订单)']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    series: [
                        {
                            name: '条件来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [
                                { value: Datas[0].Count, name: '未支付的订单总数(待付款的订单)' },
                                { value: Datas[1].Count, name: '未发货的订单总数' },
                                { value: Datas[2].Count, name: '未完成的订单总数(待处理的订单)' }
                            ]
                        }
                    ]
                });
            }
        });

        // --- 地图 ---
        //var myChart2 = echarts.init(document.getElementById('mainMap'));
        //myChart2.setOption({
        //    tooltip: {
        //        trigger: 'item',
        //        formatter: '{c}'
        //    },
        //    series: [
        //        {
        //            name: '中国',
        //            type: 'map',
        //            mapType: 'china',
        //            selectedMode: 'multiple',
        //            itemStyle: {
        //                normal: { label: { show: true } },
        //                emphasis: { label: { show: true } }
        //            },
        //            data: [
        //                { name: '广东', value: 12323, selected: true },
        //                { name: '四川', value: 34343}
        //            ]
        //        }
        //    ]
        //});
        $("#listshow").click(function () {
            $("#list").show();
            $("#chart").hide();
        });
        $("#chartshow").click(function () {
            $("#chart").show(function () {
            });
            $("#list").hide();
        })
    })
</script>
