@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    Html.AppendCssFileParts("~/Themes/DefaultTheme/Content/css/goods-list.css");
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<div class="xm-line-box filter-box">
    @RenderSection("CategorySelector")
</div>
<div class="row">
    <div class="col col4">
        <div class="goods-detail-desc">
            <div class="left-list-w xm-box goods-alsobuy xm-goods-side-list">
                @Html.Action("HomepageProducts", "Catalog")
            </div>
            <div class="xm-box goods-alsobuy xm-goods-side-list">
                @if (IsSectionDefined("left"))
                {
                    @RenderSection("left")
                }
                else
                {
                    @Html.Widget("left_side_column_before")
                    @Html.Widget("left_side_column_after_category_navigation")
                    @Html.Action("NewsletterBox", "Newsletter")
                    @Html.Widget("left_side_column_after")
                }
            </div>
            <div class="goodlist-showcase ">

            </div>
        </div>
    </div>
    <div class="col col17">
        <div class="xm-line-box goods-list-box">
            <div class="goods-list-section ">
                @Html.Widget("main_column_before")
                @RenderBody()
                @Html.Widget("main_column_after")
            </div>
        </div>
    </div>
</div>
