@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")

<div class="site-topbar">
    <div class="container">
        <div class="topbar-nav">
            <a class="current" href="@Url.RouteUrl("HomePage")">瑞翠华光</a>
        </div>
        <div class="topbar-info J_userInfo">
            @Html.Action("HeaderLinks", "Common")
        </div>
    </div>
</div>
<!-- .site-topbar END -->

<div class="site-header container">
    <div class="site-logo">
        <a class="logo" href="@Url.RouteUrl("HomePage")" title="瑞翠华光"><i class="iconfont">&#xe61d;</i></a>
    </div>
    <div class="header-info">
        <div class="search-section">
            @Html.Action("SearchBox", "Catalog")
        </div>
        <div class="cart-section" id="flyout-cart">
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-nav clearfix">
        <div id="J_categoryContainer" class="nav-category">
            <a class="btn-category-list" href="@Url.RouteUrl("HomePage")">全部商品分类</a>
            <div class="nav-category-section" style="display: none;">
                <ul class="nav-category-list">
                    @Html.Action("TopMenu", "Catalog")
                </ul>
            </div>
        </div>
        <div class="nav-main">
            <ul class="nav-main-list J_menuNavMain clearfix">
                <li class="nav-main-item current">
                    <a href="@Url.RouteUrl("HomePage")"><span class="text">首页</span></a>
                </li>
                <li id="nav_lastproduct" class="nav-main-item">
                    <a href="@Url.RouteUrl("LastProduct")"><span class="text">每日新品</span><span class="arrow"></span></a>
                </li>
                <li class="nav-main-item">
                    <a href="#"><span class="text">超值推荐</span><span class="arrow"></span></a>
                </li>
                <li class="nav-main-item">
                    <a href="#"><span class="text">精品典藏</span><span class="arrow"></span></a>
                </li>
                <li id="nav_vip" class="nav-main-item">
                    <a href="@Url.RouteUrl("VipProduct")" target="_blank"><span class="text">VIP专区</span><span class="arrow"></span></a>
                </li>
                <li class="nav-main-item">
                    <a href="#"><span class="text">购物无忧</span><span class="arrow"></span></a>
                </li>
                <li class="nav-main-item">
                    <a href="@Url.RouteUrl("SoldProduct")"><span class="text">已售欣赏</span><span class="arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- .site-header END -->
<div class="container">
    @RenderBody()
</div>
<div class="site-footer">
    <div class="container">
        <div class="footer-service">
            <ul class="list-service clearfix">
                <li>
                    <a href="" target="_blank">
                        <i class="iconfont">&#xf02b5;</i>
                        <strong>品质保证</strong>
                        <span>品质护航，购物无忧</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="iconfont">&#xf029f;</i>
                        <strong>7天无理由退货</strong>
                        <span>收到商品7天内无理由退货服务</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="iconfont">&#xf0297;</i>
                        <strong>15天免费换货</strong>
                        <span>质量问题免费换新货承诺</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="iconfont">&#xf02b8;</i>
                        <strong>100%</strong>
                        <span>正品保证</span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="iconfont">&#xf02a4;</i>
                        <strong>超千万用户</strong>
                        <span>口碑信赖</span>
                    </a>
                </li>
            </ul>
        </div>
        @Html.Action("Footer", "Common")
    </div>
</div>
<!-- .site-footer END -->

<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '#J_miniCart .J_cartNum', '#wishlist-qty', '#J_miniCartList');
        </script>
        @Html.Partial("Header")

        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            
        </div>
        @Html.Widget("content_after")
    </div>
    
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
