@model OrderDetailsModel
@using Nop.Web.Models.Order;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
}
@section left
{
    @Html.Partial("../Customer/MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}

<div class="xm-line-box uc-box uc-order-detail-box">
    @if (!Model.PrintMode)
    {
        <div class="box-hd">
            <h3 class="title">@T("Order.Order#")@(Model.CreatedOn.Ticks.ToString() + Model.Id.ToString())</h3>
            <div class="more">
                <div class="uc-order-list-type">
                    <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>
                    <span class="sep">|</span>
                    <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-order-button">@T("Order.GetPDFInvoice")</a>
                </div>
            </div>
        </div>
    }
    <div class="box-bd">
        <div class="uc-order-detail-box">
            @Html.Widget("orderdetails_page_beforeproducts")
                        @if (Model.Items.Count > 0)
                        {
                            var itemFirst = 0;
                            <ul class="ul-order-bottom ">
                                <li class="uc-order-detail-item">
                                    <table class="order-detail-table">
                                        <thead>
                                            <tr>
                                                <th class="column-info column-t" colspan="3">
                                                    <div class="column-content">
                                                        <span>@T("Order.OrderDate"): @Model.CreatedOn.ToString("D")</span>
                                                        <span class="order-status float-right">@T("Order.OrderStatus") ： @Model.OrderStatus</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="column-detail column-l">
                                                    <ul class="order-goods-list">
                                                        @foreach (var item in Model.Items)
                                                        {
                                                            <li class="@(itemFirst++<1?"first":"") ">
                                                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">
                                                                    <img class="goods-thumb" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" srcset="@item.Picture.ImageUrl" title="@item.Picture.Title">
                                                                </a>
                                                                <a class="goods-name" href="" target="_blank">@item.ProductName</a>
                                                                <p>
                                                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                                    {
                                                                        <span>
                                                                            @Html.Raw(item.AttributeInfo)
                                                                        </span>
                                                                    }
                                                                </p>
                                                                <span class="goods-price">@item.UnitPrice x @item.Quantity</span>
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                                <td class="column-price">
                                                    <div class="order-info order-price">
                                                        @Model.OrderTotal
                                                    </div>
                                                </td>
                                                <td class="column-action column-r">
                                                    <div class="order-info order-action">
                                                        @if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                                        {
                                                        @*Completing payment support (for redirection payment methods)*@
                                                            using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                                            {
                                                                <input type="submit" name="repost-payment" value="立即支付" class="btn btn-primary btn-small" />
                                                            }
                                                        }
                                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        @Html.Widget("orderdetails_page_afterproducts")
                        <div class="order-detail-total clearfix">
                            <dl class="total-list">
                                        <dt class="cart-total-left">
                                            <span class="nobr">
                                                @T("Order.SubTotal"):
                                            </span>
                                        </dt>
                                        <dd class="cart-total-right">
                                            <span class="nobr">
                                                @Model.OrderSubtotal
                                            </span>
                                        </dd>
                                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @T("Order.SubTotalDiscount"):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.OrderSubTotalDiscount
                                                </span>
                                            </dd>
                                    }
                                    @if (Model.IsShippable)
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @T("Order.Shipping"):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.OrderShipping
                                                </span>
                                            </dd>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @T("Order.PaymentMethodAdditionalFee"):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.PaymentMethodAdditionalFee
                                                </span>
                                            </dd>
                                    }
                                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                                    {
                                        foreach (var taxRate in Model.TaxRates)
                                        {
                                                <dt class="cart-total-left">
                                                    <span class="nobr">
                                                        @string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):
                                                    </span>
                                                </dt>
                                                <dd class="cart-total-right">
                                                    <span class="nobr">
                                                        @taxRate.Value
                                                    </span>
                                                </dd>
                                        }
                                    }
                                    @if (Model.DisplayTax)
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @T("Order.Tax"):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.Tax
                                                </span>
                                            </dd>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @T("Order.TotalDiscount"):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.OrderTotalDiscount
                                                </span>
                                            </dd>

                                    }
                                    @if (Model.GiftCards.Count > 0)
                                    {
                                        foreach (var gc in Model.GiftCards)
                                        {
                                                <dt class="cart-total-left">
                                                    <span class="nobr">
                                                        @string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):
                                                    </span>
                                                </dt>
                                                <dd class="cart-total-right">
                                                    <span class="nobr">
                                                        @gc.Amount
                                                    </span>
                                                </dd>
                                        }
                                    }
                                    @if (Model.RedeemedRewardPoints > 0)
                                    {
                                            <dt class="cart-total-left">
                                                <span class="nobr">
                                                    @string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):
                                                </span>
                                            </dt>
                                            <dd class="cart-total-right">
                                                <span class="nobr">
                                                    @Model.RedeemedRewardPointsAmount
                                                </span>
                                            </dd>
                                    }
                                        <dt class="cart-total-left">
                                            <span class="nobr">
                                                @T("Order.OrderTotal"):
                                            </span>
                                        </dt>
                                        <dd class="cart-total-right">
                                            <span class="nobr">
                                                <strong>
                                                    @Model.OrderTotal
                                                </strong>
                                            </span>
                                        </dd>
                            </dl>
                        </div>
                    </li>

                </ul>
            }
        </div>
    </div>

    <div class="order-delivery-address">
        <dl>
            <dt>姓名：</dt>
            <dd>@Model.ShippingAddress.FirstName</dd>
        </dl>
        <dl>
            <dt>邮箱：</dt>
            <dd>@Model.ShippingAddress.Email</dd>
        </dl>
        <dl>
            <dt>联系电话：</dt>
            <dd>@Model.ShippingAddress.PhoneNumber</dd>
        </dl>
        <dl>
            <dt>收货地址：</dt>
            <dd>
              @Html.ConsigneeFrontAddress(Model.ShippingAddress)
            </dd>
        </dl>

    </div>
</div>
