@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@{
    Html.AppendCssFileParts("~/Themes/DefaultTheme/Content/css/shopcart.css");
}
<div class="order-success row-margin">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }

    <div class="order-icon">
        @*<h1>@T("Checkout.ThankYou")</h1>*@
        <i class="iconfont font90 sucesscolor order-icon-mar">&#xf00b2;</i>
    </div>
    @Html.Widget("checkout_completed_top")
    <div class="msg">
        @*<strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>*@
        <h3>您的订单已提交成功！</h3>
        <p class="post-date">成功付款后，7个工作日内将为您发货</p>
    </div>
    <ul class="details">
        <li>
            @T("Checkout.OrderNumber"): @Model.OrderId
        </li>
        <li>
            <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">查看订单详情</a>
        </li>
    </ul>
    <div class="buttons">
        <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn btn-primary btn-small" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
    </div>
    @Html.Widget("checkout_completed_bottom")
</div>
