@model ProductModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)


<div class="options">
    <input type="submit" value="@T("Admin.Common.Preview")" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new { SeName = Model.SeName })', 800, 600, true); return false;" class="k-button" />
    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
    <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
    <input type="submit" id="copyproduct" name="copyproduct" class="k-button" value="@T("Admin.Catalog.Products.Copy")" />
    <span id="product-delete" class="k-button">@T("Admin.Common.Delete")</span>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    基本信息
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabInfo()
          
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  商品图片
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabPictures()
             </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  规格参数分类
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabCategories()
                <hr />
                @TabSpecificationAttributes()
                <hr />
                @TabProductAttributes()
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    关联商品
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabRelatedProducts()
                <hr/>
                @TabCrossSells()
                <hr />
                @TabAssociatedProducts()
             </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    权限控制
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabAcl()
                <hr />
                @TabStores()
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    折扣价格
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
            <div class="panel-body">
                @TabTierPrices()
                <hr />
                @TabDiscounts()
            </div>
        </div>
    </div>
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseorder">
                    权限控制
                </a>
            </h4>
        </div>
            <div id="collapseorder" class="panel-collapse collapse in">
                <div class="panel-body">
                    @TabPurchasedWithOrders()
                </div>
            </div>
    </div>
        
    }
</div>



<script>
    $(document).ready(function () {
        //$("#product-edit").kendoTabStrip({
        //    animation: {
        //        open: {
        //            effects: "fadeIn"
        //        }
        //    },
        //    select: tabstrip_on_tab_select
        //});
        $('.collapse').collapse();
    });
</script>




@helper TabInfo()
{
    @Html.Partial("_CreateOrUpdate.Info", Model)
}
@helper TabSeo()
{
    @Html.Partial("_CreateOrUpdate.SEO", Model)
}
@helper TabCategories()
{
    @Html.Partial("_CreateOrUpdate.Categories", Model)
}
@helper TabManufacturers()
{
    @Html.Partial("_CreateOrUpdate.Manufacturers", Model)
}
@helper TabPictures()
{
    @Html.Partial("_CreateOrUpdate.Pictures", Model)
}
@helper TabSpecificationAttributes()
{
    @Html.Partial("_CreateOrUpdate.SpecificationAttributes", Model)
}
@helper TabAcl()
{
    @Html.Partial("_CreateOrUpdate.Acl", Model)
}
@helper TabStores()
{
    @Html.Partial("_CreateOrUpdate.Stores", Model)
}

@helper TabTierPrices()
{
    @Html.Partial("_CreateOrUpdate.TierPrices", Model)
}
@helper TabProductAttributes()
{
    @Html.Partial("_CreateOrUpdate.ProductAttributes", Model)
}
@helper TabDiscounts()
{
    @Html.Partial("_CreateOrUpdate.Discounts", Model)
}
@helper TabRelatedProducts()
{
    @Html.Partial("_CreateOrUpdate.RelatedProducts", Model)
}
@helper TabCrossSells()
{
    @Html.Partial("_CreateOrUpdate.CrossSells", Model)
}
@helper TabAssociatedProducts()
{
    @Html.Partial("_CreateOrUpdate.AssociatedProducts", Model)
}
@helper TabPurchasedWithOrders()
{
    @Html.Partial("_CreateOrUpdate.PurchasedWithOrders", Model)
}

