@using Nop.Core.Domain.Catalog
@model ProductListModel
@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;

}
<table class="adminContent">
    <input type="button" id="setvip-selected" class="btn btn-sm btn-primary btn-flat pull-right " style="margin-left:15px" value="设置所选商品为VIP商品" />
    <input type="button" id="setboutique-selected" class="btn btn-sm btn-primary btn-flat pull-right" value="设置所选商品为精品典藏" />
    
    <tr >
        <td>
            <div id="products-allgrid"></div>
            <script>
    $(document).ready(function() {
        $("#products-allgrid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ProductList", "Product", new { type = "All" }))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            //dataBound: onDataBound,
            columns: [
                {

                    field: "Id",
                    headerTemplate: "",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template:'<input type="checkbox" #=IsVipProduct || IsBoutique ? "disabled" : "" #  value="#=Id#" ></input>'
,
                    width: 50
                },
                @if (Model.DisplayProductPictures)
                                {
                                    <text>{
                    field: "PictureThumbnailUrl",
                    title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                    template: '<img src="#=PictureThumbnailUrl#" />',
                    width: 200
                },</text>
                                }
                {
                    field: "Name",
                    title: "@T("Admin.Catalog.Products.Fields.Name")",
                    width: 250
                }, {
                                    field: "Sku",
                                    title: "商品编码",
                                    width: 100
                                }, {
                    field: "Price",
                    title: "@T("Admin.Catalog.Products.Fields.Price")",
                    width: 50,
                    //if not a grouped product, then display
                    template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct)) {# #:Price# #}  #"
                }, {
                    field: "StockQuantity",
                    title: "@T("Admin.Catalog.Products.Fields.StockQuantity")",
                    width: 50,
                    //if not a grouped product
                    //AND "manage inventory" is "Track inventory"
                    //then display
                    template: "# if(ProductTypeId != @((int)ProductType.GroupedProduct) && ManageInventoryMethodId == @((int)ManageInventoryMethod.ManageStock)) {# #:StockQuantity# #}  #"
                }, @*{
                                    field: "ProductTypeName",
                                    title: "@T("Admin.Catalog.Products.Fields.ProductType")",
                                    width: 100
                                },*@ {
                    field: "Published",
                    title: "@T("Admin.Catalog.Products.Fields.Published")",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
                },{
                    field: "IsVipProduct",
                    title: "是否是VIP商品",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsVipProduct#.gif" />'
                },
                {
                    field: "IsBoutique",
                    title: "是否是精品典藏商品",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsBoutique#.gif" />'
                },
                {
                    field: "Id",
                    title: "操作",
                    width: 200,
                    template: '<a href="Edit/#=Id#" class="btn btn-sm btn-primary btn-flat" target="_blank">@T("Admin.Common.Edit")</a>' +
                        ' '+"<a  onclick='javascript:OpenWindow(\"/#=SeName#\", 1250, 600, true); return false;' class='btn btn-sm btn-primary btn-flat '>@T("Admin.Common.Preview")</a>" +
                        ' '+'<a href="Edit/#=Id#?currentoption=%23collapseorder" class="btn btn-sm btn-primary btn-flat">已购买订单</a>'
                        //"<a  onclick='javascript:OpenWindow(\"/addproducttopackage/#=Id#\", 650, 400, true); return false;' class='btn btn-sm btn-primary btn-flat '>添加到套餐</a>"
                }
            ]
        } );
    });
            </script>
        </td>
    </tr>
    <script type="text/javascript">
        var selectedIds = [];
        $(document).ready(function () {
            $('#setvip-selected').click(function (e) {
                if(selectedIds.length==0)
                {
                    confirm("请勾选商品");
                    return;
                }
                e.preventDefault();
                //redirect to required URL
                setLocation('@(Url.Action("SetProductVipZone", "Product"))?selectedIds=' + selectedIds.join(","));
                return false;
            });
            $('#setboutique-selected').click(function (e) {
                if(selectedIds.length==0)
                {
                    confirm("请勾选商品");
                    return;
                }
                e.preventDefault();
                //redirect to required URL
                setLocation('@(Url.Action("SetBoutiqueZone", "Product"))?selectedIds=' + selectedIds.join(","));
                return false;
            });
            //wire up checkboxes.
            $('#products-allgrid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });
        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-allgrid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-allgrid input[type=checkbox][checked][id!=mastercheckbox]').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
</table>
