@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = T("Admin.ReturnRequests").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
        @T("Admin.ReturnRequests")
    </div>
    <div class="options">
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="returnrequests-grid"></div>

            <script>
    $(document).ready(function() {
        $("#returnrequests-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "ReturnRequest"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
               {
                    field: "OperatorEmail",
                    title: "操作人",
                    width: 200
                }, {
                    field: "OrderId",
                    title: "订单编号",
                    width: 200,
                    template: '<a href="@Url.Content("~/Admin/Order/Edit/")#=OrderId#">#=OrderId# - @T("Admin.Common.View")</a>'
                }, {
                    field: "RefundAmount",
                    title: "退货金额[元]",
                    width: 100
                },  {
                    field: "OperateTime",
                    title: "操作时间",
                    type: "date",
                    format: "{0:G}",
                    width: 100
                }, {
                    field: "ReasonForRefund",
                    title: "退款原因",
                    width: 100
                },
                 {
                     field: "",
                     title: "操作",
                     width: 100,
                     template: '<a href="CreateOrUpdateReturnRequest/#=OrderId#">@T("Admin.Common.Edit")</a>'
                 }
            ]
        });
    });
</script>
        </td>
    </tr>
</table>
